<!DOCTYPE html>
<html>

<body>

  <h1>Graduação</h1>
  <p>Ainda não conclui minha graduação em Engenharia de Computação, pretendo terminar esse semestre, falta apenas o
    TCC.</p>
  <p>O tema já foi escolhido e vai ser relacionado a Open Banking e suas tecnologias.</p>

  <hr>

  <footer>
    <p><a href="http://localhost:4567">Sobre</a></p>
    <p><a href="http://localhost:4567/link_page">Links de PRs</a></p>
  </footer>

</body>

</html>
