<!DOCTYPE html>
<html>
<body>

<h1>Página de Links de PR</h1>
<p>Nessa página colocarei alguns links para PRs que fiz durante o projeto trainee da Codeminer42</p>


<h2>Log_Parser</h2>

<ul>
    <li><a href="https://github.com/atilafb/challenge2-log-parser/pull/1">Task 1</a></li>
    <li><a href="https://github.com/atilafb/challenge2-log-parser/pull/2">Task 2</a></li>
    <li><a href="https://github.com/atilafb/challenge2-log-parser/pull/3">Task 3</a></li>
</ul>


<h2>Sinatra</h2>

<ul>
    <li><a href="https://github.com/atilafb/challenge3-sinatra/pull/1">Hello World do Sinatra</a></li>
    <li><a href="https://github.com/atilafb/challenge3-sinatra/pull/3">Personal Info Page</a></li>
    <li><a href="https://github.com/atilafb/challenge3-sinatra/pull/4">PR Link Page</a></li>
    <li><a href="https://github.com/atilafb/challenge3-sinatra/pull/5">Graduation Page</a></li>
</ul>

<footer>
<p><a href="http://localhost:4567">Sobre</a></p>
<p><a href="http://localhost:4567/graduation">Graduação</a></p>
</footer>

</body>
</html> 

