<!DOCTYPE html>
<html>
<body>

<h1>Sobre</h1>
<p>Olá, me chamo Átila, tenho 27 anos. Nasci e moro em Fortaleza/CE. Estou criando minha primeira aplicação com Sinatra, e nessa página vou informar algumas informações pessoais.</p>

<h2>Família</h2>
<p>Sobre minha família gosto de falar daqueles que são mais próximos a mim no convívio do dia-a-dia. Eles são meus pais: Acrisio e Rosângela. E meus irmãos: Stelio Neto e Acrisio Filho. Sou o caçula dos dois.</p>
<p>Há 6 anos, meu irmão mais velho Stelio Neto, casou com a Samantha, minha cunhada, e 3 anos atrás chegou o Samuel meu sobrinho.</p>
<ul>
    <li>Acrisio (Pai)</li>
    <li>Rosângela (Mãe)</li>
    <li>Stelio Neto (Irmão mais velho)</li>
    <li>Acrisio Filho (Irmão do meio)</li>
    <li>Samantha (Cunhada)</li>
    <li>Samuel (Sobrinho)</li>
</ul>

<h2>Metas</h2>
<p>Como metas eu tenho prioritariamente viajar, nunca sai do Ceará, então tenho o desejo de conhecer mais locais do país e do mundo. Minha outra grande meta é me tornar um profissional bem sucedido. Uma pessoa que cumpre suas obrigações, é lembrado como referência em certos assuntos e que tem capacidade técnica de ajudar e orientar outras pessoas.</p>

<h2>Educação</h2>
<p>Terminei o meu ensino médio em 2012 e no ENEM daquele fui aprovado para cursar Licenciatura em História na UFC</p>
<p>Em 2014 depois de ter cursado um tempo de História percebi que não era aquilo que queria pra minha vida e tentei o ENEM novamente dessa vez para Engenharia da Computação no IFCE</p>
<p>Devido a greves anteriores eu fui aprovado mas só iniciei o curso no final de Maio de 2015, hoje só está restando o TCC para me formar.</p>

<h2>Trabalho</h2>
<p>Como trabalho só estagiei durante meu período na Engenharia de Computação. Na DEaD (Diretoria de Ensino a Distância do IFCE) como diagramador. E como estagiário de Desenvolvimento e Suporte no TRT7.</p>
<p>Hoje estou como Trainee na Codeminer42, muito feliz e empolgado com a oportunidade.</p>

<h2>Hobbies</h2>
<p>Nunca fui um cara de sair muito pra festas, sou muito tímido e introvertido. Desde pequeno gostava de passar o tempo no computador jogando, já que tive poucos consoles. Minhas maiores companhias na época foram o Ragnarok, MU e CS 1.6 que eu ainda frequentava em LAN House perto do colégio. Claro que houveram outros jogos também, em sua maioria as que Level Up! Games trazia pra cá.</p>
<p>Depois de um tempo comecei a pegar gosto por assistir séries e filmes. Também assisto alguns animes.</p>
<p>Quando se trata de sair, eu curto mais um cinema, uma praia ou algum evento só com amigos próximos, onde me sinto mais a vontade.</p>

<h4>Jogos mais jogados atualmente</h4>
<ul>
    <li>Valorant</li>
    <li>TFT</li>
    <li>Lolzinho (esporadicamente)</li>
</ul>

<h4>Séries e animes que curto e acompanho (alguns)</h4>
<ul>
    <li>One Piece (comecei a ver quando a pandemia começou e simplesmente fui cativado por Eiichiro Oda, a desculpa de não querer ver 1000 episódios rapidamente se tornou "só tem 1000?" kkkk)</li>
    <li>Narutinho</li>
    <li>My Hero Academia</li>
    <li>Peaky Blinders</li>
    <li>The Witcher</li>
    <li>How I met your mother</li>
</ul>

<h2>Curiosidades</h2>
<p>De 2016 pra cá fui apresentado ao grupo PHE no Facebook, e me tornei fã de periféricos para PC, mas nunca tive muito recursos pra ter aqueles fones, teclados e mouses bonitões kkkk</p>
<p>Sou fã de futebol, o primeiro grande evento que me recordo foi aquela Copa do Mundo de 2002, desde então amo esse esporte gosto de acompanhar as grandes ligas e mesmo assim sou muito bairrista também, curto bastante ver o esporte do meu Estado e da região e além de ser apaixonado pelo Fortaleza Esporte Clube.</p>
<p>E essa talvez seja a informação mais curiosa. Eu sou primo do Ricardo Juarez, a icônica voz do Johnny Bravo no Brasil e dentre tantos outros personagens importantes de filmes, jogos e desenhos. (Dentre eles Draven do LoL, Kratos do God of War, Zennyata do Overwatch.)</p>

</body>
</html> 

